<!-- <a routerLink="/login"> Login </a> <br />
<a routerLink="/signup"> Signup </a> <br />
<a routerLink="/profile"> Profile </a> <br />
<a routerLink="/addAnnouncement"> AddAnnouncement </a> <br />
<a routerLink="/announcements"> Announcements </a> <br />
<a routerLink="/announcementDesc"> Announcement Description </a> <br />
<a routerLink="/editProfile"> EditProfile </a> <br />
<a routerLink="/messages"> Messages </a> <br />
<a routerLink="/posts"> Posts </a> <br />
<a routerLink="/users"> Users </a> <br /> -->

<div class="wrapper style1">
    <router-outlet></router-outlet>
    <div id="header" class="skel-panels-fixed" style="width: inherit;">
        <div id="logo">
            <h4><a>Get Your Job</a></h4>
        </div>
        <nav id="nav">
            <ul>
                <li class="active" *ngIf="!auth.getIsLoggedIn()"><a routerLink="/login"> Login </a></li>
                <li><a routerLink="/signup" *ngIf="!auth.getIsLoggedIn()"> Signup </a></li>
                <li><a routerLink="/profile" *ngIf="auth.getIsLoggedIn()"> Profile </a></li>
                <li><a routerLink="/announcements" *ngIf="auth.getIsLoggedIn()"> Announcements </a></li>
                <li><a routerLink="/messages" *ngIf="auth.getIsLoggedIn()"> Messages </a></li>
                <li><a routerLink="/posts" *ngIf="auth.getIsAdmin() && auth.getIsLoggedIn()"> Posts </a></li>
                <li><a routerLink="/users" *ngIf="auth.getIsAdmin() && auth.getIsLoggedIn()"> Users </a></li>
                <li><a routerLink="" *ngIf="auth.getIsLoggedIn()" (click)="auth.logout()"> Logout </a></li>
            </ul>
        </nav>
    </div>
</div>
<!-- Copyright -->
<!-- <footer>
    <div id="copyright">
        <div class="container">
            <div class="copyright">
                <p>&copy; LSI S3 - 2020/2021</p>
            </div>
        </div>
    </div>
</footer> -->