/* Box */

.box {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 3em 2em;
    background: rgba(255, 255, 255, 0.794);
    text-align: center;
    border-radius: 0px 0px 6px 6px;
}

body {
    background: url(../../../assets/bg.jpg) no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
}


/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.35s ease-in-out;
    -webkit-transition: background-color 0.35s ease-in-out;
    -o-transition: background-color 0.35s ease-in-out;
    -ms-transition: background-color 0.35s ease-in-out;
    transition: background-color 0.35s ease-in-out;
    background: #d84780;
    border-radius: 6px;
    border: 0;
    color: white;
    cursor: pointer;
    display: inline-block;
    padding: 0.75em 1.5em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 1em;
    font-weight: 600;
    color: #FFF !important;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:hover {
    background: #e1719d;
}

input[type="submit"].alt,
input[type="reset"].alt,
input[type="button"].alt,
.button.alt {
    border: 1px solid #FFF;
    color: #0f1116;
}

input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
.button.fit {
    width: 100%;
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
.button.small {
    font-size: 0.5em;
}

input[type="submit"].medium,
input[type="reset"].medium,
input[type="button"].medium,
.button.medium {
    padding: 0.80em 2em;
    font-size: 0.6em;
}


/* input */

.inp {
    border: 1px solid #FFF;
    color: #e1719d;
    background: #FFF;
    font-size: 30px;
    border-radius: 6px;
    margin-bottom: 20px;
    border: #e1719d;
    border-width: 10px;
    padding: 20px;
}

.inpf {
    border: 1px solid #FFF;
    color: #e1719d;
    background: #FFF;
    font-size: 20px;
    border-radius: 6px;
    margin-bottom: 20px;
    margin-right: 20px;
    border: #e1719d;
    border-width: 10px;
    padding: 15px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

label {
    font-size: 25px;
    width: 350px;
    padding-left: 30px;
}


/* Wrapper */

.wrapper.style1 {
    padding-top: 2em;
    padding-bottom: 2em;
    background: url(../../../assets/bg.jpg) no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    /* top: 0; */
    left: 0;
    right: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
}