<body>
    <!-- <img class="wave" src="../../../assets/wave.png" /> -->
    <div class="container">
        <div class="img">
            <img src="../../../assets/bg.svg" />
        </div>

        <div class="login-container">
            <form #f="ngForm" (ngSubmit)="onSignUp(f.value)">
                <img class="avatar" src="../../../assets/avatar.svg" />
                <h2>Create Account</h2>

                <div class="input-div one">
                    <div class="i">
                        <i class="fa fa-user"></i>
                    </div>
                    <div>
                        <h5>Username</h5>
                        <input ngModel name="username" class="input" type="text" />
                    </div>
                </div>

                <div class="input-div one">
                    <div class="i">
                        <i class="fa fa-user"></i>
                    </div>
                    <div>
                        <h5>Email</h5>
                        <input ngModel name="email" class="input" type="text" />
                    </div>
                </div>

                <div class="input-div one">
                    <div class="i">
                        <i class="fa fa-user"></i>
                    </div>
                    <div>
                        <h5>Adress</h5>
                        <input ngModel name="adress" class="input" type="text" />
                    </div>
                </div>

                <!-- <div class="input-div one">
                    <div class="i">
                        <i class="fa fa-user"></i>
                    </div>
                    <div>
                        <h5>Type of account</h5>
                        <input ngModel name="typeUser" class="input" type="text" />
                    </div>
                </div>

                <div class="input-div one">
                    <div class="i">
                        <i class="fa fa-user"></i>
                    </div>
                    <div>
                        <h5>Function</h5>
                        <input ngModel name="function" class="input" type="text" />
                    </div>
                </div> -->

                <div class="input-div two">
                    <div class="i">
                        <i class="fa fa-lock"></i>
                    </div>
                    <div>
                        <h5>Password</h5>
                        <input ngModel name="password" class="input" type="password" />
                    </div>
                </div>

                <div class="input-div two">
                    <div class="i">
                        <i class="fa fa-lock"></i>
                    </div>
                    <div>
                        <h5>Password Confirmation</h5>
                        <input ngModel name="confirmedPassword" class="input" type="password" />
                    </div>
                </div>

                <input type="submit" class="btn" value="Sign up" />
            </form>
        </div>
    </div>
</body>